* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

button {
    border: none;
    outline: none;
    background: none;
    font-size: 0;
}

p, span {
    color: #333;
}

i {
    font-style: normal;
}

.color--red {
    color: #D23535;
}

.color--green {
    color: #07B074;
}

.color--blue {
    color: #3B6AC0;
}

.scroll::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 6px;
    height: 8px;
    opacity: 0;
}

.scroll::-webkit-scrollbar-button {
    display: none
}

.scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(100, 102, 105, .2);
    border: 0;
    border-radius: 8px;
}

.scroll:hover::-webkit-scrollbar-thumb {
    background: rgba(100, 102, 105, .3);
    border-color: #babac0;
}

.scroll {
    overflow: auto;
    scroll-behavior: smooth;
    /*will-change:transform;*/
    /*transform:translate3d(0,0,0);*/
}

.scroll-transparent::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 0px;
    height: 0px;
    opacity: 0;
}

.scroll-transparent::-webkit-scrollbar-button {
    display: none
}

.scroll-transparent::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.scroll-transparent::-webkit-scrollbar-thumb {
    background: rgba(100, 102, 105, 0);
    border: 0;
    border-radius: 0px;
}

.scroll-transparent:hover::-webkit-scrollbar-thumb {
    background: rgba(100, 102, 105, 0);
    border-color: #babac0;
}

.scroll-transparent {
    overflow: auto;
    scroll-behavior: smooth;
}