.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 24px;
    background: #E3E3E3;
    overflow-y: hidden;
}

/* header */
.app-header {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.app-header > div {
    padding: 0 16px;
}

.app-header__left {
    display: flex;
    gap: 12px;
}

.app-header__left > span {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #333;
}

.app-header__left > button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    color: #33333399;
}

.app-header__right > span {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #333;
}

/* header */

/* body */
.app-body {
    flex: 1;
    display: flex;
    gap: 24px;
    height: calc(100vh - 80px);
    padding-bottom: 24px;
}

/* body-left */
.app-body__left {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 420px;
    background: #FBFBFB;
    border-radius: 16px;
}

.left-row {
    display: flex;
    border-bottom: 2px solid #E3E3E3;
}

.left-row:last-child {
    border: 0;
}

.left-row.row--photo {
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 24px;
}

.photo--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.photo--top > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.photo--top > div span:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.photo--top > div span:nth-child(2) {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #33333399;
}

.row--photo picture {
    position: relative;
}

.row--photo img[name="setting"] {
    position: absolute;
    right: 0;
    bottom: 0;
}

.row--cols .col {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-right: 2px solid #E3E3E3;
}

.row--cols .col:last-child {
    border: 0;
}

.row--cols .col--top {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #33333399;
}

.row--cols .col--bottom {
    display: flex;
    gap: 8px;
    align-self: flex-end;
    align-items: flex-end;
}

.row--cols .col--bottom span:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.row--cols .col--bottom span:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    color: #333333CC;
}

.left-row.row--horiz {
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.row--horiz .left-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.row--horiz .left-area span {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

/* body-left */

/* body-center */
.app-body__center {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.app-body__center > div {
    flex: 1;
    background: #FBFBFB;
    border-radius: 16px;
}

.center-top {
    position: relative;
}

.center-top .btn-group {
    position: absolute;
    top: 24px;
}

.center-top .btn-group.btn-left {
    left: 24px;
}

.center-top .btn-group.btn-right {
    right: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.center-top .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 42px;
    height: 226px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 0px #00000033;
}

.graph > div {
    position: relative;
    flex: 1;
    width: 6px;
    border-radius: 8px;
    background: #E3E3E3;
}

.graph > div::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #3B6AC0;
    border-radius: 8px;
    content: '';
}

.graph button {
    flex: none;
    width: 32px;
    height: 32px;
    font-size: 16px;
}

.center-bottom {
    display: flex;
    flex-direction: column;
}

.bottom-header {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 2px solid #E3E3E3;
}

.bottom-header > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.bottom-header__right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.bottom-header__right > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bottom-header__right span {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.bottom-header__right span i {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}

.bottom-body {
    flex: 1;
    display: flex;
}

.bottom-body > .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 24px;
    border-right: 2px solid #E3E3E3;
}

.bottom-body > .col:last-child {
    border: 0;
}

.bottom-body .col--top {
    display: flex;
    flex-direction: column;
}

.bottom-body .col--top > span:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px
}

.bottom-body .col--top > span:nth-child(2) {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #33333399;
}

.bottom-body .col--bottom {
    align-self: flex-end;
}

.bottom-body .col--bottom span {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    vertical-align: bottom;
}

.bottom-body .col--bottom i {
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    color: #33333399;
}

/* body-center */

/* body-right */
.app-body__right {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 420px;
    background: #FBFBFB;
    border-radius: 16px;
}

.right-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 24px;
    border-bottom: 2px solid #E3E3E3;
}

.right-row:last-child {
    border: 0;
}

.right-row.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 384px;
    padding: 42px 60px;
    background-image: url(/assets/img/chart.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.chart__data-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.chart__data-value {
    font-size: 76px;
    font-weight: 500;
    line-height: 40px;
}

.chart__data-value i {
    font-size: 46px;
    font-weight: 300;
    line-height: 25px;
}

.chart__data-nm {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #33333399;
}


.right-row:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.right-row > .left-area {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-row > .left-area > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 7px 0;
}

.right-row > .left-area > div.padding-12 {
    padding: 12px 0;
}

.right-row > .left-area button {
    padding: 2px 11px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    border: 1px solid #07B074;
    border-radius: 500px;
}

.right-row > .left-area button.border-none {
    padding: 0;
    color: #33333399;
    border: none;
}

.right-row > .left-area span {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.right-row > .right-area {
    display: flex;
    align-items: baseline;
    align-self: flex-end;
    gap: 8px;
}

.right-row > .right-area span.align-top {
    align-self: flex-start;
}

.right-row > .right-area span:nth-child(1) {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 8px;
}

.right-row > .right-area span:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    color: #333333CC;
}

/* body-right */